<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Client</title>
</head>
<body>
    <header>
        <div class="head">
            <h1>Ega</h1>
        </div>
        <div class="header-top">
            <h1>Inscription</h1>
        </div>
        <div class="choix">
            <label for="selection"><h5>Quel est votre type de compte : </h5></label>
            <select name="pets" id="selection">
                <option value="courant">Compte Courant</option>
                <option value="epargne">Compte Epargne</option>
              </select>
        </div>
        <div class="header-bottom">
            <h2>Details personnels</h2>
        </div>
    </header>
    <main>
        <div class="ligne">
            <div class="cas case1">
                <label for="name">Nom : </label>
                <input type="text" id="name">
            </div>
            <div class="cas case2">
                <label for="prenom">Prenom : </label>
                <input type="text" id="prenom">
            </div>
            <div class="cas case3">
                <label for="sexe">Sexe : </label>
                <input type="text" id="sexe">
            </div>
        </div>
        <div class="ligne">
            <div class="cas case4">
                <label for="Nationnalité">Nationnalité : </label>
                <input type="text" id="Nationnalité">
            </div>
            <div class="cas case5">
                <label for="Addresse">Addresse : </label>
                <input type="text" id="Addresse">
            </div>
            <div class="cas case4">
                <label for="Téléphone">Téléphone : </label>
                <input type="text" id="Téléphone">
            </div>
        </div>
        <div class="ligne">
            <div class="cas case7">
                <label for="Naissance">Date de Naissance : </label>
                <input type="date" id="Naissance">
            </div>
            <div class="cas case8">
                <label for="Email">Email : </label>
                <input type="email" id="Email">
            </div>
            <div class="cas case9">
                <label for="Password">Password : </label>
                <input type="password" id="Password">
            </div>
        </div>
    </main>
    <div class="conn">
        <div class="link-com"><a href="compte">S'inscrire</a></div>
    </div>
</body>
</html>