<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Compte</title>
</head>
<body>
    <div class="content">
        <div class="form">
            <div class="right">
                <img src="../../assets/auth.jpg" alt="">
            </div>
            <div class="left">
                <div class="left-top">
                    <h2>Connnexion</h2>
                    <img src="../../assets/logoEga.png" alt="">
                </div>
                <div class="left-bottom">
                    <div class="case1">
                        <label for="email">Email :</label>
                        <input type="email" id="email">
                    </div>
                    <div class="case2">
                        <label for="password">Mot de passe :</label>
                        <input type="email" id="password">
                    </div>
                    <div class="link"><a href="client">Pas de compte ? Inscription </a></div>
                    <div class="link-btn">
                        <a href="admin">Connexion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>