<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Accueil</title>
</head>
<body>
    <header>
        <div class="header-top">
            <div class="header-left">
                <h1>Ega</h1>
            </div>
            <div class="header-right">
                <div class="link-client btn "><a href="client" >S'inscrire</a></div>
                <div class="link-client btn "><a href="compte" >Se connecter</a></div>
            </div>
        </div>
        <div class="header-bottom">
            <h2 class="txt-wel">Bienvenue sur l'application Ega , votre banque en ligne</h2>
        </div>
    </header>
    <main>
        <div class="left">
            <img src="../../assets/logoEga.png" alt="">
        </div>
        <div class="right">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto dolore velit deleniti nihil iure alias quisquam, adipisci aspernatur debitis ab sapiente vero expedita accusantium fuga in laborum, a officiis quae!</p>
            <div class="link"><a href="compte">Créer votre compte</a></div>
        </div>
    </main>

    <div class="img-car">
        <div class="img-left">
            <img src="../../assets/right-img.jpg" alt="">
        </div>
        <div class="img-right">
            <img src="../../assets/left-img .jpg" alt="">
        </div>
    </div>
    <footer>
        <h1 class="foot">Le projet Ega est une platforme de banque virtuel pour notre année d'étude
             qui permet à ses client de créer et de pouvoir gérer leur compte sous une bonne sécurité
             avec une technologie Spring comme Api et Angular pour le frontend.
        </h1>
    </footer>

    <script>
        const boutons =
document.getElementsByClassName('link');
 
const TIME_ANIMATE = 800;
 
boutons.forEach( bouton => {
    bouton.addEventListener('click', function( event ) {
        event.preventDefault(); // Annule la navigation vers la cible du lien
        this.classList.add('trans');
        // Chargement de la cible du lien après le temps écoulé
        setTimeout( () => {
            const href = this.href; // Obtient la cible du lien
            document.location = href; // Définit la nouvelle location du lien (redirection)
            document.location.reload(); // Recharge la page
        }, TIME_ANIMATE );
    });
});
    </script>
</body>
</html>

